/* GLOBAL */

body{
    margin:0;
    padding:0;
    font-family:'Montserrat', Arial, sans-serif;
    background-color:#0B0B0F;
    color:#E5E7EB;
    text-align:center;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#111116;
}

.logo{
    font-size:24px;
    font-weight:800;
    letter-spacing:4px;
    color:#C6A75E;
    text-transform:uppercase;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
    padding:0;
    margin:0;
}

.nav-links a{
    text-decoration:none;
    color:#E5E7EB;
    font-size:15px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#C6A75E;
}

/* HEADER */

header{
    padding:120px 20px 80px 20px;
}

h1{
    font-size:48px;
    letter-spacing:4px;
    color:#C6A75E;
}

p{
    font-size:18px;
    max-width:600px;
    margin:20px auto;
    color:#B0B3B8;
}

/* BUTTON */

.btn{
    display:inline-block;
    margin-top:30px;
    padding:14px 30px;
    border:2px solid #C6A75E;
    color:#C6A75E;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#C6A75E;
    color:#0B0B0F;
}

/* TOOLS SECTION */

.tools-section{
    padding:80px 20px;
}

.tools-section h1{
    font-size:36px;
    color:#C6A75E;
}

/* TOOLS GRID */

.tools-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:35px;
    margin-top:50px;
}

/* TOOL CARD */

.tool-card{
    background:#111116;
    padding:45px;
    max-width:700px;
    margin:auto;
    border-radius:14px;
    border:1px solid #1F2937;
    box-shadow:0 0 30px rgba(255,215,0,0.08);
    transition:transform 0.3s ease, box-shadow 0.3s ease;
}

.tool-card:hover{
    transform:translateY(-6px);
    box-shadow:0 0 35px rgba(255,215,0,0.15);
}

.tool-card h2{
    font-size:26px;
    margin-bottom:20px;
    color:gold;
}

.tool-card p{
    color:#ccc;
    margin-bottom:25px;
}

/* INPUT FIELDS */

.tool-input{
    width:100%;
    padding:14px;
    margin:14px 0;
    background:#1a1a1a;
    border:1px solid #333;
    color:#fff;
    font-size:17px;
    border-radius:8px;
    transition:all 0.3s ease;
}

.tool-input:focus{
    outline:none;
    border-color:gold;
    box-shadow:0 0 8px rgba(255,215,0,0.4);
}

/* BUTTONS */

button{
    margin-top:20px;
    padding:14px 30px;
    background:gold;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#e6c200;
}

/* RESULT */

#result{
    margin-top:25px;
    font-size:22px;
    font-weight:700;
    color:gold;
}

/* FOOTER */

footer{
    margin-top:100px;
    padding:20px;
    font-size:14px;
    color:#777;
    }
